.body {
  margin: auto;
  width: 70%
}

body {
font-family: "Arial", Helvetica, sans-serif;
}

.menuandtitle {
  background-image: url("http://wallpapercave.com/wp/3jQbonO.jpg");
}

.bodytitle {
  color: white;
  padding: 15px;
  text-align: center;
}

/* With the following 4 "elements"(menu; menu li; menu li a; and menu li a:hover) I was able to form my menu and place it horizontally,
plus give some extra style to look like a real menu when you hold the cursor on the list. */
.menu {
  padding: 0;
}

.menu li {
  display: inline;
}

.menu li a {
  background-color: #006666;
  color: white;
  text-decoration: none;
  padding: 10px 17px;
  border-radius: 5px 5px 0 0;
  margin: 5px
}

.menu li a:hover {
  background-color: #33ff77;
  color: #006666;
}

.subheading {
  padding-top: 40px;
  color: #006666;
  margin:auto;
  width: 100%
}

.CSSlinkvideo {
  border: none;
}

.body h3 {
  border-style: solid;
  border-radius: 10px 10px 0 0;
  border-width: 2px;
  border-color: #006666;
  background-color: #006666;
  color: white;
  padding-left: 20px;
}

.body h4 {
  border-style: solid;
  border-radius: 10px 10px 0 0;
  border-width: 1px;
  border-color: grey;
  color: #006666;
  padding-left: 40px;}

/* The below 2 "elements"(.criteria tr:nth-child(even) and .criteria tr:nth-child(odd)
are used for my table in the index/home page to give some colours to each line). */
.criteria tr:nth-child(even) {
  background-color: grey;
  text-align: center;
}

.criteria tr:nth-child(odd) {
  background-color: #006666;
  text-align: center;
}

.code {
    font-family: "Courier New", Courier, monospace;
  }

.validCSS {
  border: none;
  padding-top: 10px;
  padding-bottom: 20px;
  width: 9%;
  margin: auto;
}

.footer {
  background-image: url("http://wallpapercave.com/wp/3jQbonO.jpg");
  padding-top: 25px;
  padding-bottom:25px;
  color: white;
}

.foot p{
  text-align: center;
  font-size: 12px;
  border-radius: 10px 10px 0 0;
  background-color: #006666;
  margin: auto;
  width: 40%;
  padding-top: 10px;
  padding-bottom: 10px;
}
